@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.tape {
    background: yellow;
    transform: rotate(-30deg);
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 11;
    width: 700px;
    height: 130px;
    right: -120px;
    bottom: -10px;
    overflow: hidden;
}

.const {
    font-family: 'Open Sans', sans-serif;
    top: 20px;

}